.ca-contact-list-card{
  margin: 12px;
  padding: 4px;
  padding-right: 10px;
  }

.ca-contact-list-card-title{
  font-family: "Palatino Linotype", serif;
  font-size: 18px;
}

.ca-contact-list-card-icon{
  font-size: 30px;
  width: 40px;
  height: 40px;
  margin-right: 12px;
}
