.ca-contact-list-card{
  margin: 12px;
  }

.ca-contact-list-card-title{
  font-family: "Palatino Linotype", serif;
  font-size: 20px;
}

.ca-contact-list-card-icon{
  font-size: 50px;
  width: 50px;
  height: 50px;
  margin-right: 12px;
}
