<mat-card class="ca-contact-list-card">
  <div fxLayout="row">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-icon aria-label="Icon" class="ca-contact-list-card-icon">local_gas_station</mat-icon>
    </div>
    <div fxLayout="column">
      <div fxLayout="row" class="ca-contact-list-card-title">
        Date: {{filling.date}}
      </div>
      <div fxLayout="row">
        Amount: {{filling.amount}} Price: {{filling.price}} Mileage: {{filling.mileage}}
      </div>
      <div fxLayout="row">
      </div>
    </div>
  </div>
</mat-card>

