<mat-toolbar color="primary">

  <button mat-icon-button color="white" [routerLink]="['']" (click)="clear()">
    <mat-icon>menu</mat-icon>
  </button>

  Fill Her Up

</mat-toolbar>


<mat-card class="header-card">
  <div fxLayout="row">

    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-icon aria-label="Icon" class="car-icon">directions_car</mat-icon>
    </div>

    <div fxLayout="row" class="ca-contact-list-card-title">


      <mat-form-field class="carSelect">

        <mat-select placeholder="Select car" [(ngModel)]="selectedCar">
          <mat-option *ngFor="let car of cars" [value]="car.license">
            {{ car.descr }}
          </mat-option>
        </mat-select>


      </mat-form-field>

      <mat-form-field class="periodSelect">

        <mat-select placeholder="Select start month" [(ngModel)]="selectedStartMonth">
          <mat-option *ngFor="let period of startMonths" [value]="period.value">
            {{ period.text }}
          </mat-option>
        </mat-select>

      </mat-form-field>


      <mat-form-field class="periodSelect">

        <mat-select placeholder="Select end month" [(ngModel)]="selectedEndMonth">
          <mat-option *ngFor="let period of endMonths" [value]="period.value">
            {{ period.text }}
          </mat-option>
        </mat-select>

      </mat-form-field>


      <button mat-fab class="addButton" (click)="getFillings()">
        <mat-icon aria-label="Example icon-button with a heart icon">search</mat-icon>
      </button>


    </div>

  </div>
</mat-card>

<div fxLayout="row">


  <div>

    <div fxLayout="column">

      <mat-card class="info-card">
        <div fxLayout="row" fxLayoutAlign="center center">
          <div class="licenseHeader">{{selectedCar}}</div>
        </div>
      </mat-card>

      <mat-card class="info-card">
        <div fxLayout="row" fxLayoutAlign="left center">
          <div>
            <mat-icon aria-label="Icon" class="small-icon single-icon">format_color_fill</mat-icon>
          </div>
          <div>Average consumption =</div>
          <div fxFlex class="right"> {{info.averageConsumption}} l/100 km</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="left center">
          <div>
            <mat-icon aria-label="Icon" class="small-icon">directions_car</mat-icon>
            <mat-icon aria-label="Icon" class="small-icon">arrow_forward</mat-icon>
          </div>
          <div>Driven distance =</div>
          <div fxFlex class="right"> {{info.distance}} km</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="left center">
          <div>
            <mat-icon aria-label="Icon" class="small-icon">today</mat-icon>
            <mat-icon aria-label="Icon" class="small-icon">arrow_forward</mat-icon>
          </div>
          <div>Average distance per day =</div>
          <div fxFlex class="right"> {{info.averageKmPerDay}} km</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="left center">
          <div>
            <mat-icon aria-label="Icon" class="small-icon single-icon">euro_symbol</mat-icon>
          </div>
          <div>Highest fuel price =</div>
          <div fxFlex class="right"> {{info.highestPricePerLiter}} eur</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="left center">
          <div>
            <mat-icon aria-label="Icon" class="small-icon single-icon">euro_symbol</mat-icon>
          </div>
          <div>Lowest fuel price =</div>
          <div fxFlex class="right"> {{info.lowestPricePerLiter}} eur</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="left center">
          <div>
            <mat-icon aria-label="Icon" class="small-icon single-icon">local_gas_station</mat-icon>
          </div>
          <div>Total amout fuel used =</div>
          <div fxFlex class="right"> {{info.totalFuelBought}} litres</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="left center">
          <div>
            <mat-icon aria-label="Icon" class="small-icon single-icon">euro_symbol</mat-icon>
          </div>
          <div>Total money spent =</div>
          <div fxFlex class="right"> {{ info.totalMoneyUsed}} eur</div>
        </div>
      </mat-card>

    </div>

  </div>

  <div>
    <router-outlet></router-outlet>
  </div>

</div>

