<mat-toolbar color="primary">

  <button mat-icon-button color="white" [routerLink]="['']" (click)="clear()">
    <mat-icon>menu</mat-icon>
  </button>

  Fill Her Up

</mat-toolbar>


<mat-card class="header-card">
  <div fxLayout="row">

    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-icon aria-label="Icon" class="car-icon">directions_car</mat-icon>
    </div>

    <div fxLayout="row" class="ca-contact-list-card-title">


      <mat-form-field class="carSelect">

        <mat-select placeholder="Select car" [(ngModel)]="selectedCar">
          <mat-option *ngFor="let car of cars" [value]="car.license">
            {{ car.descr }}
          </mat-option>
        </mat-select>


      </mat-form-field>

      <mat-form-field class="periodSelect">

        <mat-select placeholder="Select start month" [(ngModel)]="selectedStartMonth" (ngModelChange)="onStartMonthChange($event)">
          <mat-option *ngFor="let period of startMonths" [value]="period.value">
            {{ period.text }}
          </mat-option>
        </mat-select>

      </mat-form-field>


      <mat-form-field class="periodSelect">

        <mat-select placeholder="Select end month" [(ngModel)]="selectedEndMonth" [disabled]="endMonthDisabled">
          <mat-option *ngFor="let period of endMonths" [value]="period.value">
            {{ period.text }}
          </mat-option>
        </mat-select>

      </mat-form-field>


      <button mat-fab class="addButton" (click)="getFillings()">
        <mat-icon aria-label="Example icon-button with a heart icon">search</mat-icon>
      </button>


    </div>

  </div>
</mat-card>

<div fxLayout="row">


  <div>

    <div fxLayout="column">
<!--
      <mat-card class="info-card">
        <div fxLayout="row" fxLayoutAlign="center center">
          <div class="licenseHeader">{{selectedCar}}</div>
        </div>
      </mat-card>
-->
      <mat-card class="info-card">
        <div fxLayout="row" fxLayoutAlign="left center">
          <div>
            <mat-icon aria-label="Icon" class="small-icon single-icon">format_color_fill</mat-icon>
          </div>
          <div>Avg consumption (l/100 km) </div>
          <div fxFlex class="right"> {{  info.averageConsumption}}</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="left center">
          <div>
            <mat-icon aria-label="Icon" class="small-icon">directions_car</mat-icon>
            <mat-icon aria-label="Icon" class="small-icon">arrow_forward</mat-icon>
          </div>
          <div>Driven distance (km)</div>
          <div fxFlex class="right"> {{info.distance}}</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="left center">
          <div>
            <mat-icon aria-label="Icon" class="small-icon">today</mat-icon>
            <mat-icon aria-label="Icon" class="small-icon">arrow_forward</mat-icon>
          </div>
          <div>Avg distance per day (km)</div>
          <div fxFlex class="right"> {{info.averageKmPerDay}}</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="left center">
          <div>
            <mat-icon aria-label="Icon" class="small-icon single-icon">euro_symbol</mat-icon>
          </div>
          <div>Highest fuel price (eur/l)</div>
          <div fxFlex class="right"> {{info.highestPricePerLiter}}</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="left center">
          <div>
            <mat-icon aria-label="Icon" class="small-icon single-icon">euro_symbol</mat-icon>
          </div>
          <div>Lowest fuel price (eur/l)</div>
          <div fxFlex class="right"> {{info.lowestPricePerLiter}}</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="left center">
          <div>
            <mat-icon aria-label="Icon" class="small-icon single-icon">local_gas_station</mat-icon>
          </div>
          <div>Total amout fuel used (l)</div>
          <div fxFlex class="right"> {{info.totalFuelBought}}</div>
        </div>

        <div fxLayout="row" fxLayoutAlign="left center">
          <div>
            <mat-icon aria-label="Icon" class="small-icon single-icon">euro_symbol</mat-icon>
          </div>
          <div>Total money spent (eur)</div>
          <div fxFlex class="right"> {{ info.totalMoneyUsed}}</div>
        </div>
      </mat-card>

    </div>

  </div>

  <div>
    <router-outlet></router-outlet>
  </div>

</div>

