<mat-card class="loginCard">

  <mat-card-header>
    <mat-card-title class="cardTitle">Login</mat-card-title>
  </mat-card-header>

  <mat-card-content class="cardContent">

    <div>

      <mat-form-field class="editField">
        <input matInput placeholder="Username" value="" [(ngModel)]="userName">
      </mat-form-field>

      <mat-form-field class="editField">
        <input matInput placeholder="Password" type="password" [(ngModel)]="passWord">
      </mat-form-field>

      <div>
        <button mat-fab class="loginButton" (click)="login()">
          <mat-icon aria-label="Add button">arrow_forward</mat-icon>
        </button>
      </div>

    </div>
  </mat-card-content>

</mat-card>

